:root {
    /*Prepare color for eventual change*/
    --blue : #1F51FF;
    --white: white;

    /*Font with backup*/
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.center {
    display: block;
    margin: 100px auto;
}

.btn-transition {
    width: 120px;
    height: 50px;

    border: none;
    border-radius: 10px;

    background-color: var(--blue);
    color: var(--white);

    font-size: 15px;
    font-weight: bold;

    /*Smooth the animation*/
    transition: transform 0.3s ease-in-out;
}

.btn-transition:hover {
    transform: scale(1.2);
}